/**
 * @name Venom Theme
 * @author rGabrex
 * @version 1.0.0
 * @description Theme based on Marvel character Venom.
 *
 *  ██    ██ ███████ ███    ██  ██████  ███    ███ 
 *  ██    ██ ██      ████   ██ ██    ██ ████  ████ 
 *  ██    ██ █████   ██ ██  ██ ██    ██ ██ ████ ██ 
 *  ██    ██ ██      ██  ██ ██ ██    ██ ██  ██  ██ 
 *   ██████  ███████ ██   ████  ██████  ██      ██ by rGabrex
 *
*/

/* Took some ispiration from ClearVision to better understand Discord CSS code */

/* GitHub Repository Import */
@import url(https://rgabrex.github.io/Venom-Theme/src/main.css);

/* Fonts Import */
@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Potta+One&display=swap);



:root {
  /* Main Colors */
  --main-color: #ffffffce;
  --secondary-color: #000000;
  --success-color: #cacaca;
  --primary-red-color: #b13d4c;
  --channel-color: #8e9599da;
  --secondary-red-color: #752126;
  --primary-blue-color: #1e303ab6;
  --secondary-blue-color: #0c1520;

  /* Font */
  --main-font: Permanent Marker, Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-display: var(--main-font);

  /* Background Settings */
  --background-shading: 100%;
  
  --background-image: url(https://rgabrex.github.io/Venom-Theme/pics/venom_background.jpg);
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 80%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-invert: 0%;
  --background-grayscale: 0%;
  --background-sepia: 0%;
  --background-blur: 0px;

  /* Icons */
  --home-icon: url(https://rgabrex.github.io/Venom-Theme/icons/home.svg);
  --home-position: center;
  --home-size: 40px;
  --explore-icon: url(https://rgabrex.github.io/Venom-Theme/icons/explorer.svg);
}
