/**
 * @name Venom Theme
 * @author rGabrex
 * @version 1.0.0
 * @description Theme base on Marvel character "Venom"
 *
 *  ██    ██ ███████ ███    ██  ██████  ███    ███ 
 *  ██    ██ ██      ████   ██ ██    ██ ████  ████ 
 *  ██    ██ █████   ██ ██  ██ ██    ██ ██ ████ ██ 
 *  ██    ██ ██      ██  ██ ██ ██    ██ ██  ██  ██ 
 *   ██████  ███████ ██   ████  ██████  ██      ██ by rGabrex
 *
*/

/* Credits to ClearVision Team for making the original theme. */

/* GitHub Repository Import */
@import url(https://rgabrex.github.io/Venom-Theme/main.css);

/* Fonts Import */
@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Potta+One&display=swap);



:root {
    /* Main Colors */
    --main-color: #ffffffce; /* Main color of the app (rgb, hex, hsl), default: #ffffffce */
    --hover-color: #000000; /* Hover color (rgb, hex, hsl), default: #000000 */
    --success-color: #cacaca; /* Succes color (rgb, hex, hsl), default: #cacaca */
    --danger-color: #B13D4C; /* Danger color (rgb, hex, hsl), default: #b10202 */

    /* User Status Related Colors */
    --online-color: #EBDEDB; /* User Online color (rgb, hex, hsl), default: #ffffff */
    --idle-color: #8E9599; /* User Idle color (rgb, hex, hsl), default: hsl(0, 0%, 53%) */
    --dnd-color: #752126; /* User dnd color (rgb, hex, hsl), default: hsl(0, 100%, 50%) */
    --streaming-color: hsl(263, 30%, 53%); /* User Streaming color (rgb, hex, hsl), default: hsl(263, 30%, 53%) */
    --offline-color: #000000; /* User Offline color (rgb, hex, hsl), default: #464646 */

    /* General and Text Colors */
    --main-font: Potta One, Helvetica Neue, Helvetica, Arial, sans-serif; /* Main font for app texts  */
    --code-font: Consolas, Liberation Mono, Menlo, Courier, monospace; /* Font for codeblocks  */
    --text-normal: #EBDEDB; /* Color of default discord text, default: #ebebeb */
    --text-muted: #8E9599; /* Color of default discord placeholder text, default: rgb(158, 158, 158) */
    --url-color: var(--main-color); /* The color of url links, default: var(--main-color)*/
    --channels-width: 220px; /* Channel list width (240px for Discord default), default: 220px */
    --members-width: 240px; /* Member list width, default: 240px */
    --server-unread: var(--main-color); /* Color of the icon for servers with unread messages, default: var(--main-color) */

    /* Discord Background */
    --background-shading: 100%; /* app background shading (0 for complete smoothness) [default: 100%] */
    --background-overlay: #0c1520e0; /* app background overlay color/gradient [default: rgba(0, 0, 0, 0.6)] */
    --background-image: url(Pics/venom_background.jpg); /* app background image (link must be HTTPS) [default: url(https://clearvision.github.io/images/sapphire.jpg)]*/
    --background-position: center; /* app background position [default: center] */
    --background-size: cover; /* app background size [default: cover] */
    --background-repeat: no-repeat; /* app background repeat [default: no-repeat] */
    --background-attachment: fixed; /* app background attachment [default: fixed] */
    --background-brightness: 100%; /* app background brightness (< 100% for darken, > 100% for lighten) [default: 100%] */
    --background-contrast: 100%; /* app background contrast [default: 100%] */
    --background-saturation: 100%; /* app background saturation [default: 100%] */
    --background-invert: 0%; /* app background invert (0 - 100%)  [default: 0%] */
    --background-grayscale: 0%; /* app background grayscale ( 0 - 100%) [default: 0%] */
    --background-sepia: 0%; /* app background sepia (0 - 100%) [default: 0%] */
    --background-blur: 0px; /* app background blur [default: 0px] */

    /* Home Icon */
  --home-icon: url(Pics/icon.jpeg); /* home button icon (link must be HTTPS) [default: url(https://i.imgur.com/3Zbsjz0.jpg)]*/
  --home-position: center; /* home button icon position [default: center] */
  --home-size: 40px; /* home button icon size [default: 40px] */

  /* Channel Colors */
  --channel-unread: var(--main-color); /* Unread Server channel color. [default:  var(--main-color)] THIS OVERRIDES YOUR MAIN COLOR*/
  --channel-color: #8e9599da; /*Read Server channel color  [default: hwb(0 42% 58% / 0.63);]*/
  --channel-text-selected: rgb(224, 224, 224); /* Selected channel text color  [default: rgb(224, 224, 224)] */
  --muted-color: #0c152018; /*Muted channel color  [default: rgba(77, 77, 77, 0.1);]*/

  /* Backdrop */
  --backdrop-overlay: #1e303ab6; /* modal backdrop overlay color/gradient [default: hsla(0, 0%, 35%, 0.671)] */
  --backdrop-image: var(--background-image); /* modal backdrop image (link must be HTTPS) [default: var(--background-image)] */
  --backdrop-position: var(--background-position); /* modal backdrop position [default: var(--background-position)] */
  --backdrop-size: var(--background-size); /* modal backdrop size [default: var(--background-size)] */
  --backdrop-repeat: var(--background-repeat); /* modal backdrop repeat [default: var(--background-repeat)] */
  --backdrop-attachment: var(--background-attachment); /* modal backdrop attachment [default: var(--background-attachment)] */
  --backdrop-brightness: var(--background-brightness); /* modal backdrop brightness (< 100% for darken, > 100% for lighten) [default: var(--background-brightness)] */
  --backdrop-contrast: var(--background-contrast); /* modal backdrop contrast [default: var(--background-contrast)] */
  --backdrop-saturation: var(--background-saturation); /* modal backdrop saturation [default: var(--background-saturation)] */
  --backdrop-invert: var(--background-invert); /* modal backdrop invert (0 - 100%)  [default: var(--background-invert)] */
  --backdrop-grayscale: var(--background-grayscale); /* modal backdrop grayscale ( 0 - 100%) [default: var(--background-grayscale)] */
  --backdrop-sepia: var(--background-sepia); /* modal backdrop sepia (0 - 100%) [default: var(--background-sepia)] */
  --backdrop-blur: var(--background-blur); /* modal backdrop blur [default: var(--background-blur)] */

  /* User Popout */
  --user-popout-image: var(--background-image); /* app background image (link must be HTTPS) [default: var(--background-image)] */
  --user-popout-position: var(--background-position); /* user popout background position [default: var(--background-position)] */
  --user-popout-size: var(--background-size); /* user popout background size [default: var(--background-size)] */
  --user-popout-repeat: var(--background-repeat); /* user popout background repeat [default: var(--background-repeat)] */
  --user-popout-attachment: var(--background-attachment); /* user popout background attachment [default: var(--background-attachment)] */
  --user-popout-brightness: var(--background-brightness); /* user popout background brightness (< 100% for darken, > 100% for lighten) [default: var(--background-brightness)] */
  --user-popout-contrast: var(--background-contrast); /* user popout background contrast [default: var(--background-contrast)] */
  --user-popout-saturation: var(--background-saturation); /* user popout background saturation [default: var(--background-saturation)] */
  --user-popout-invert: var(--background-invert); /* user popout background invert (0 - 100%) [default: var(--background-invert)] */
  --user-popout-grayscale: var(--background-grayscale); /* user popout background grayscale (0 - 100%) [default: var(--background-grayscale)] */
  --user-popout-sepia: var(--background-sepia); /* user popout background sepia (0 - 100%) [default: var(--background-sepia)] */
  --user-popout-blur: calc(var(--background-blur) + 3px); /* user popout background blur [default: calc(var(--background-blur) + 3px)] */
  --user-popout-overlay: hsla(0, 0%, 0%, 0.6); /* user popout overlay color [default: rgba(0, 0, 0, .6)] */

  /* User Modal Background */
  --user-modal-image: var(--background-image); /* app background image (link must be HTTPS) [default: var(--background-image)] */
  --user-modal-position: var(--background-position); /* user modal background position [default: var(--background-position)] */
  --user-modal-size: var(--background-size); /* user modal background size [default: var(--background-size)] */
  --user-modal-repeat: var(--background-repeat); /* user modal background repeat [default: var(--background-repeat)] */
  --user-modal-attachment: var(--background-attachment); /* user modal background attachment [default: var(--background-attachment)] */
  --user-modal-brightness: var(--background-brightness); /* user modal background brightness (< 100% for darken, > 100% for lighten) [default: var(--background-brightness)] */
  --user-modal-contrast: var(--background-contrast); /* user modal background contrast [default: var(--background-contrast)] */
  --user-modal-saturation: var(--background-saturation); /* user modal background saturation [default: var(--background-saturation)] */
  --user-modal-invert: var(--background-invert); /* user modal background invert (0 - 100%) [default: var(--background-invert)] */
  --user-modal-grayscale: var(--background-grayscale); /* user modal background grayscale (0 - 100%) [default: var(--background-grayscale)] */
  --user-modal-sepia: var(--background-sepia); /* user modal background sepia (0 - 100%) [default: var(--background-sepia)] */
  --user-modal-blur: calc(var(--background-blur) + 3px); /* user modal background blur [default: calc(var(--background-blur) + 3px)] */

  /* BetterDiscord Colors */
  --bd-blue: var(--main-color); /* betterdiscord main color [default: var(--main-color)] */
  --bd-blue-hover: var(--hover-color); /* betterdiscord hover color [default: var(--hover-color)] */
  --bd-blue-active: var(--hover-color); /* betterdiscord active color [default: var(--hover-color)] */
}